logs
*.log
project/*
project/project
project/target
project/target/streams/$global/update/$global/out
project/target/streams/$global/ivy-sbt/$global/out
target
tmp
.history
dist
*.iml
/out
/.idea_modules
*.classpath
*.project
/RUNNING_PID
/KEYSTORE.jks
/generated.keystore
/.target
**/bin
**/.metadata
**/.settings
*.prefs
*.dat
*.ini
*.DS_Store
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/modules.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/codeStyleSettings.xml
.idea/copyright
.idea/libraries
.idea/scopes
.idea/artifacts
.idea/inspectionProfiles
.idea/workspace.xml
